/*===============================

Template Name: Hash
Author: Hastech
Author URI: http://hastech.company/
Version: 1.0
    
--------------------------------
    
CSS INDEX
=========

1. Base CSS
2. Home CSS
3. Home 2 CSS
4. Single video post page CSS
5. Single post page CSS
6. Single quote post page CSS
7. About page CSS
8. contact page CSS

================================*/


/* =============================
1. Base CSS
================================*/

.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { /*height: 100%*/;overflow-x:hidden;font-size: 15px!important; background: url(../images/body-bg-ornamen.png) bottom right no-repeat;}
body { font-family: 'Lato', sans-serif;}
.section_padding { padding-top: 38px; }
.section-gray { background-color: #efefef }
.section-dark {
    background-color: #110C09;
    color: #fff;
}
a { transition: .3s }
a:hover { color: #000 }
.display_block {display:block;}
.display_none {display:none;}

/* =========================
2. Home CSS
============================*/

.bl_single_text h4, .br_single_text h4, .left_fashion.main_nav_box ul li a, .single_fs_news_left_text h4, .single_fs_news_right_text h4, .news_pagination ul.news_pagi li a, .purchase_sidebar_text h2, .purchase_sidebar_text p, .footer_bottom p {
	font-family: 'Roboto', sans-serif;
}
.bl_single_text h4 {
	font-weight:700;
    padding-left: 0px;
}
.br_single_text h4, .left_fashion.main_nav_box ul li a, .single_fs_news_left_text h4 {
	font-weight:500;
}
.single_fs_news_left_text a:hover, .single_fs_news_right_text a:hover, .fasion_right ul li a:hover {
  color: #C66196;
  text-decoration:none;
}

.header_search {
    position: absolute;
    right: 25px;
    top: 0;
}
.header_search input[type="text"] {
    background-color: #124f83;
    background-image: url("../images/header_search.png")!important;
    background-position: top 6px right 5px!important;
    background-repeat: no-repeat!important;
    border: 0 none;
    color: #ffffff;
    height: 28px;
    line-height: 73px;
    margin-top: 0px;
    padding: 0;
    text-indent: -999px;
    transition: all 0.3s ease-out 0s;
    width: 30px;
    box-shadow: none;
    background:#124f83;  
    border-radius: 2px;

}
.header_search::after {
  background: #b6aa7f none repeat scroll 0 0;
  bottom: -3px;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.header_search input[type="text"]:focus {
  background-color: #01427a;
  background-image: none;
  text-indent: 10px;
  width: 220px;
}
.header_search input[type="submit"] {
    display: none;
}
.header_top {
  background-color: #124f83;
  padding: 15px 0 14px;
}
.news_twiks {
  float: left;
  margin-right: 5px;
  width: 60px;
}
.news_twiks h4 {
  color: #bb5a93;
  font-size: 11px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.news_twiks_items {
  float: left;
  width: 84%;
  line-height:13px;
}
#carousel-example-generic1 p {
  color: #fff;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: -1px;
  text-transform: uppercase;
}
.header_top_right {
  text-align: right;
}

.social_header {
  float: left;
  width: 96%;
}
.social_header ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.home_sidebar .single_fs_news_right_text h4 a {
  color: #333;
  font-size: 16px;
}
.home_sidebar .single_fs_news_right_text > p {
  color: #999999;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.home_sidebar .follow_us_side .single_fs_news_right_text h4 {
  font-size: 11px;
  line-height: 14px;
}
.home_sidebar .single_fs_news_right_text a {
  color: #4099ff;
  font-size: 10px;
  margin-right: 5px;
}
.social_header ul li {
  display:inline-block;
}
.social_header ul li a {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 0 6px;
}
.social_header ul li a:hover {
/*  color: #C66196;*/
    color: #f1f1f1;
  text-decoration:none;
}
.social_header ul li a:focus {
  outline:none;
}
.header_search .header_submit {
  background-color: transparent;
  background-image: url("images/header_search.png");
  background-repeat: no-repeat;
  border: medium none;
  margin-left: 0;
  margin-top: 5px;
}
.header_top_left {
  margin-top: 4px;
}
.header_logo_area {
  padding: 20px 0px 20px;
}
.logo {
  margin-top: 10px;
}
.header_add {
  margin-left: 22px;
}
.mainnav {
  box-shadow: 0 2px 10px #eee;
}
/*TADINYA*/

/*TADINYA*/
.main_nav_box ul {
  list-style: outside none none;
  padding: 0;
}
.main_nav_box ul li {
  display: inline-block;
  margin-right: -4px;
  padding: 8px 0;
  position: relative;
}
.mega_menu {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 2px solid #c66196;
  box-shadow: 0 2px 10px #eeeeee;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 106px;
  transition: all 0.4s ease 0s;
  z-index: -1;
}

.main_nav_box ul{
    margin-bottom: 0px;
}


li:hover .mega_menu {
  top:71px;
  opacity:1;
  transition: all 0.4s ease 0s;
  z-index: 9;
}
.main_nav_box ul li:hover a {
  color:#fff;
}
.main_nav_box ul li.nav_news:hover {
  background: #c66196 url("images/nav_news_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_fashion:hover {
  background: #c66196 url("images/nav_fashion_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_gadgets:hover {
  background: #c66196 url("images/nav_gadgets_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_lifestyle:hover {
  background: #c66196 url("images/nav_lifestyle_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_video:hover {
  background: #c66196 url("images/nav_video_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_features:hover {
  background: #c66196 url("images/nav_features_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li.nav_lifeguide:hover {
  background: #c66196 url("images/nav_lifeguide_hr.png") no-repeat scroll 27px 25px !important;
  transition: all 0.1s ease 0s;
}
.main_nav_box ul li:hover a {
  border-right:1px solid #124F83;
}
.main_nav_box ul li.nav_news {
  background: rgba(0, 0, 0, 0) url("images/nav_news.png") no-repeat scroll 27px 25px;
  border-top: 2px solid #124F83;
}
.main_nav_box ul li.nav_news a {
  position: relative;
}
.main_nav_box ul li.nav_news a::after {
  border-left: 1px solid #efefef;
  content: "";
  height: 54px;
  left: -22px;
  position: absolute;
  top: 0;
  width: 1px;
}
.main_nav_box ul li.nav_fashion {
  background: rgba(0, 0, 0, 0) url("images/nav_fashion.png") no-repeat scroll 27px 25px;
  border-top:2px solid #B4BD00;
}
.main_nav_box ul li.nav_gadgets {
  background: rgba(0, 0, 0, 0) url("images/nav_gadgets.png") no-repeat scroll 27px 25px;
  border-top:2px solid #F4655F;
}
.main_nav_box ul li.nav_lifestyle {
  background: rgba(0, 0, 0, 0) url("images/nav_lifestyle.png") no-repeat scroll 27px 25px;
  border-top:2px solid #56BAE7;
}
.main_nav_box ul li.nav_video {
  background: rgba(0, 0, 0, 0) url("images/nav_video.png") no-repeat scroll 27px 25px;
  border-top:2px solid #FFA431;
}
.main_nav_box ul li.nav_features {
  background: rgba(0, 0, 0, 0) url("images/nav_features.png") no-repeat scroll 27px 25px;
  border-top:2px solid #5B4282;
}
.main_nav_box ul li.nav_lifeguide {
  background: rgba(0, 0, 0, 0) url("images/nav_lifeguide.png") no-repeat scroll 27px 25px;
  border-top:2px solid #35A3F0;
}
.main_nav_box ul li a {
/*  border-right: 1px solid #efefef;*/
    border-right: 1px solid #043b79;
/*    color: #444444;*/
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-left: 20px;
    padding: 18px 20px 18px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.main_nav_box ul li a:hover {
    color: #fff;
    text-decoration: none;  
    border-right: 1px solid #043b79;
}
.nav_news .single_mega ul li a::after {
  border-left: 0 solid #efefef;
}
.single_mega {
  float: left;
  margin-right: 1%;
  padding: 26px 10px 0;
  width: 32%;
}
.left_fashion.main_nav_box ul li.nav_fashion:hover {
  background: rgba(0, 0, 0, 0) url("images/music.png") no-repeat scroll 27px 25px !important;
}
.header_fasion .main_nav_box ul li.nav_gadgets:hover {
  background: rgba(0, 0, 0, 0) url("images/nav_gadgets_h.png") no-repeat scroll 27px 25px !important;
}
.left_fashion.main_nav_box ul li.nav_lifestyle:hover {
  background: rgba(0, 0, 0, 0) url("images/life_icon_post.png") no-repeat scroll 27px 25px !important;
}
.single_mega.single_mega3 {
  float: left;
  margin-right: 0;
  width: 32%;
}
.single_mega > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.single_mega ul li {
  display: block;
}
.single_mega ul li a {
  border-bottom: 1px solid #efefef;
  border-left: 0 solid #efefef;
  border-right: 0 solid !important;
  color: #444444 !important;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 0;
  text-transform: inherit;
}

.single_mega ul li.last-child a {
  border-bottom: 0px solid #efefef;
}
.single_mega ul li a:hover {
  color: #124F83 !important;
}
.single_mega ul li a:hover {
  color:#42a9f1;
}
.single_mega ul li.active a {
  color: #42a9f1 !important;
}
.single_mega.single_mega2 {
  margin-top: 15px;
}
.single_mega.single_mega3 {
  margin-top: 15px;
}
.sub_menu.single_mega {
  background: #ffffff none repeat scroll 0 0 !important;
  margin-right: 0;
  width: 196px;
}
.sub_menu.single_mega ul li a {
  font-weight: 400;
  margin-left: 0;
  padding: 0 27px 12px;
  text-transform: uppercase;
}
.sub_menu.single_mega {
  background: #ffffff none repeat scroll 0 0 !important;
  border-bottom: 2px solid #124F83;
  box-shadow: 0 1px 4px #eeeeee;
  left: 0;
  margin-right: 0;
  position: absolute;
  top: 100px;
  width: 196px;
  z-index: -1;
  opacity:0;
}
.sub_menu.single_mega a i {
  margin-left: 48px;
}
.sub_menu.single_mega ul li {
  position: relative;
}
ul.lev2sub {
  background: #ffffff none repeat scroll 0 0;
  left: 230px;
  position: absolute;
  top: 0;
  width: 196px;
  opacity:0;
  z-index:-1;
}
.sub_menu.single_mega ul li:hover ul.lev2sub {
  left: 197px;
  opacity:1;
  z-index:9;
  transition:.4s;
}
.main_nav_box ul li:hover .sub_menu.single_mega {
  top: 68px;
  z-index: 9;
  opacity:1;
  transition:.4s;
}
.single_mega .single_fs_news_left_text {
  border: 0 solid #efefef;
  padding: 0;
}
.single_mega .single_fs_news_left_text h4 {
  margin-left: 0;
}
.single_fs_news_left_text .mega_title {
  border-right: 0 solid #efefef;
  margin-left: 0;
}
.single_mega .mega_title {
  border-right: 0 solid !important;
  color: #444444 !important;
  font-weight: 400;
  margin-bottom: -9px;
  margin-top: -19px;
}
.single_mega .mega_title:hover {
  color: #42a9f1 !important;
}
.single_mega3 .all_news_right {
  border: 0 solid #efefef;
  padding: 0 10px;
}
/* NAMABAH BACKGROUND */
.all_news_right{
    background: #fff;
}

.biar-ngewrap{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}
/* NAMABAH BACKGROUND */
.single_mega3 .fs_news_right {
  border-bottom: 0 solid #efefef;
  overflow: hidden;
  padding: 0;
}
.single_mega3 .single_fs_news_right_text {
  float: left;
  margin-top: -18px;
  width: 72%;
}
.single_mega3 .mega_title1 {
  border: 0 solid !important;
  color: #444444 !important;
  font-size: 11px;
  font-weight: 400;
  margin-left: 0;
}
.single_mega .fs_news_right {
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.single_mega3 .mega_title1 {
  border-right: 0 solid;
  font-size: 11px;
  font-weight: 400;
  margin-left: 0;
}
.single_mega3 .mega_title1:hover {
  color:#42a9f1 !important;
}
.mega_menu {
  border-bottom: 2px solid #c66196;
  box-shadow: 0 2px 10px #eeeeee;
}
.hp_banner_left {
  float: left;
  position: relative;
/*  width: 73%;*/
  width: 100%;  
  overflow:hidden;
}
.hp_banner_left::after {
  background: rgba(0, 0, 0, 0) url("../images/h_grad.png") no-repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 166px;
  left: 0;
  position: absolute;
  width: 100%;
}
.bl_single_news {
  float: left;
  margin-right: 1%;
  max-height: 409px;
  position: relative;
/*  width: 32.6667%;*/
width: 24.24%;
  overflow: hidden;
}
.bl_single_news:nth-child(4) {
  margin-right: 0;
}
.bl_single_news img, .br_single_news img, .fs_news_left_img img, .single_fs_news_img img, .fs_news_left_img_g img, .single_fs_news_img_h2 img, .single_fs_news_lft_img_h2 img, .single_fs_news_left_text img, .cc_im_box img, .autor_img img, .srp_img img {
  transition: all 0.5s ease 0s;
  width: 100%;
}
.bl_single_news:hover img, .br_single_news:hover img, .single_fs_news_left_text:hover img, .fs_news_right:hover img, .fs_news_left_img_g:hover img, .home_two_video_borrom_content:hover img, .single_home_two_middle:hover img, .single_author_about:hover img, .srp_img:hover img {
  overflow: hidden;
  transform: scale(1.1) rotate(3deg);
}
.fs_news_left_img, .single_fs_news_img, .fs_news_left_img_g, .single_fs_news_img_h2, .single_fs_news_lft_img_h2, .cc_im_box, .autor_imgm, .srp_img {
  overflow: hidden;
  position: relative;
}
.fs_news_left_img img {
  width: 100%;
}
.fs_news_left_img_g img {
  width: 100%;
}
.purchase_sidebar_img img {
  width: 100%;
}
.bl_single_text {
  bottom: 0;
  left: 0;
  padding:20px;
  position: absolute;
  z-index: 1;
}
.bl_single_text a, .br_single_text a {
  color: #fff;
    padding-left: 0px;
}
.bl_single_text a:hover, .br_single_text a:hover {
/*  color: #C66196;*/
    color: #f1f1f1;
  text-decoration:none;
}

.bl_single_text a h4, .br_single_text a h4 {
/*  font-size: 15px;*/
    font-size: 17px;
    margin-bottom: 0;
}
.bl_single_text span {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.top_hp_span {
  background: #3368b0 none repeat scroll 0 0;
  display: block;
  margin-bottom: 10px;
  padding: 6px 20px;
  width: 92px;
}
.env_hp_span {
  background: #ffa431 none repeat scroll 0 0;
  width: 100px;
}
.trv_hp_span {
background: #f4655f none repeat scroll 0 0;
width: 61px;
}
.bl_single_text span {
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.single_fs_news_img_h2 {
position:relative;
}
.single_fs_news_img_h2 > img {
  width: 100%;
}
.ht_all_news_right .single_fs_news_right_text h4 a, .ht_news_left2 .single_fs_news_left_text h4 a {
  font-size: 12px;
  text-transform: inherit;
}
.hp_banner_right {
  float: left;
  margin-left: 1%;
  width: 26%;
}
.br_single_news {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.br_single_news:nth-child(2) {
  margin-bottom: 0px;
}
.br_single_news::after {
  background: rgba(0, 0, 0, 0) url("../images/hp-grad.png") no-repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 83px;
  left: 0;
  position: absolute;
  width: 100%;
}
.br_single_text {
  bottom: 0;
  left: 0;
  padding:20px;
  position: absolute;
  z-index: 1;
}
.br_cam {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
.br_single_text a h4 {
  width: 99%;
    padding-left: 0px;
}
.br_single_text > span {
  color: #fff;
  display: block;
  font-size: 10px;
  margin-bottom: 12px;
  padding: 5px 7px;
  text-align: center;
  text-transform: uppercase;
}
.green_hp_span {
background:#3BB17E;
width: 100px;
}
.blue_hp_span {
background:#6A7DF4;
width: 80px;
}
.br_cam a {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  color: #fff;
  padding: 7px;
  text-align: center;
}
.br_cam.br_vid a {
  color: #ffffff;
  font-size: 21px;
}
.br_cam.br_vid_big a {
  color: #ffffff;
  font-size: 25px;
}
.br_cam.br_vid_big_s a {
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
}
.fs_news_left_img {
position:relative;
}
.fs_news_left_img_g {
position:relative;
}
.fs_news_left_img_g::before {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer_top {
  background: #2b2b2b none repeat scroll 0 0;
  padding: 80px 0;
}
.footer_top_left > p {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  line-height:25px;
}
.ft_contact {
    margin-top: 29px;
}
.ft_contact a {
	line-height:39px;
}
.ft_contact > h4, .ft_connected > h4, .ftm_realted_post > h4, .ftm_newsletter > h4, .ftr_video > h4, .ftr_tags > h4 {
  border-bottom: 1px solid #393939;
  color: #ffffff;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  margin-bottom: 19px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.srp_img {
  float: left;
  margin-right: 6%;
  width: 23%;
}
.rel_post_text {
  float: left;
  width: 71%;
}
.ft_contact p, .ft_connected > p, .ft_contact a, .rel_post_text > p, .ftm_newsletter > p {
  color: #999999;
}
.ft_contact i {
  margin-right: 10px;
}
.ft_contact a:hover, .ft_contact a:focus {
  text-decoration:none;
  color:#39A9E0;
}
.ft_connected > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.ft_connected > ul li {
  display:inline-block;
  margin-right:5px;
}
.ft_connected > ul li a {
  background: #3d3b3b none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 38px;
}
.ft_connected ul li a:hover, .ft_connected ul li a:focus {
  text-decoration:none;
  background:#39A9E0;
}
.single_related_post {
  margin-bottom: 20px;
  overflow: hidden;
}
.single_related_post > img {
  float: left;
  margin-right: 15px;
  width: 85px;
}
.rel_post_text span {
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.ftm_newsletter input[type="text"] {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #515151 none repeat scroll 0 0;
  border-color: #515151 #515151 -moz-use-text-color;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #999999;
  font-size: 12px;
  padding: 13px 20px;
  width: 81%;
  padding-bottom:14px;
}
.fm_newsletter {
  background-color: #676767;
  background-image: url("images/envelope.png");
  border: medium none;
  height: 44px;
  margin-left: -4px;
  margin-top: 0;
  width: 63px;
}
.ftr_tags {
  margin-top: 20px;
}
.ftr_tags > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 85%;
}
.ftr_tags > ul li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}
.ftr_tags > ul li a {
  background: #515151 none repeat scroll 0 0;
  color: #fff;
  display: block;
  padding: 5px 15px;
}
.ftr_tags > ul li a:hover {
  background: #E35E5E none repeat scroll 0 0;
  text-decoration:none;
}
.footer_bottom {
  background:#124f83 url(../images/bg-for-footer.png) left bottom no-repeat;
  padding: 24px 0;
    
}
.footer_bottom p {
  text-align:center;
  text-transform:uppercase;
  font-size:12px;
  color:#fff;
  margin-bottom:0px;
    margin-top:8px;
}
footer {
  margin-top: 80px;
}
.single_fs_news_left_text h4 {
color: #333;
font-size: 15px;
font-weight: 500;
margin-bottom: 10px;
margin-left: 10px;
margin-top: 17px;
}
.single_fs_news_lft_img_h2{
position:relative;
}
.single_fs_news_lft_img_h2 > img {
  width: 100%;
}
.single_fs_news_right_text a.red_p, .ht_news_left2 .single_fs_news_left_text a.red_p {
  color: #e27064;
}
.single_fs_news_left_text > img {
  width: 100%;
}
.single_fs_news_left_text p {
  color: #999999;
  font-size: 10px;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}
.single_fs_news_left_text i {
  margin-right: 5px;
}
.single_fs_news_left_text i:nth-child(2) {
  margin-left: 5px;
}
.single_fs_news_left_text {
  border: 1px solid #efefef;
  padding: 5px;
}
.left_fashion.main_nav_box ul li a {
border-right: 0 solid #efefef;
color: #35a3f0;
font-size: 14px;
margin-left: 23px;
padding: 18px 29px 9px 51px;
}
.left_fashion.main_nav_box ul li.nav_fashion_pp a {
  color: #e5786a;
}
.left_fashion.main_nav_box ul li.nav_video_pp_h2 a {
  color: #8695F6;
}
.left_fashion.main_nav_box ul li.nav_fashion {
  background: rgba(0, 0, 0, 0) url("images/music.png") no-repeat scroll 27px 25px;
  border-top: 0px solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_fashion_pp {
  background: rgba(0, 0, 0, 0) url("images/top_pp_h2.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_gadgets {
  background: rgba(0, 0, 0, 0) url("images/nav_gadgets_h.png") no-repeat scroll 27px 25px;
  border-top: 0px solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_lifestyle {
  background: rgba(0, 0, 0, 0) url("images/life_icon_post.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #b4bd00;
}
.left_fashion.main_nav_box ul li.nav_video_pp_h2 {
  background: rgba(0, 0, 0, 0) url("images/video_ico_h2.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #b4bd00;
}
.header_fasion {
border-bottom: 1px solid #efefef;
margin-bottom: 26px;
overflow: hidden;
padding-top: 12px;
}
.left_fashion.main_nav_box {
  float: left;
  width: 50%;
}
.fasion_right {
  float: left;
  width: 50%;
}
.fasion_right > a {
  display: block;
  float: right;
  margin-top: 26px;
  width: 20px;
}
.fasion_right ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align:right;
}
.fasion_right ul li {
 display:inline;
}
.fasion_right ul li a {
  color: #333333;
  display: inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 11px;
  padding: 10px;
  text-transform: uppercase;
}
.fasion_right ul li.last_item a {
  color: #35a3f0;
  display: inline-block;
  font-size: 25px;
  padding-bottom: 2px;
}
.fasion_right ul li a:hover{
 text-decoration:none;
}
.single_fs_news_img {
  float: left;
  margin-right: 11px;
  width: 24%;
  position:relative;
}
.single_fs_news_right_text h4 {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom:8px;
}
.single_fs_news_right_text a {
  color: #4099ff;
  font-size: 10px;
  margin-right: 5px;
}
.single_fs_news_right_text a.gad_color {
  color: #ea573c;
}
.single_fs_news_right_text > p {
  color: #999999;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.single_fs_news_right_text {
  float: left;
  margin-top: 15px;
  width: 60%;
  margin-left: 8px;
}
.fs_news_right {
  border-bottom: 1px solid #efefef;
  overflow: hidden;
  padding: 10px 0;
}
.fs_news_right.last_right {
  border-bottom: 0px solid #efefef;
}
.all_news_right, .all_news_right > p{
    border: 5px solid #efefef;
    padding: 0 10px;
    overflow: hidden;
    font-size: 15px;
}
#vote_form p{
    font-size: 15px;
}
.home_sidebar {
  margin-top: 40px;
}
.purchase_overlay {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.purchase_sidebar_img {
border: 1px solid #efefef;
position: relative;
margin-bottom: 40px;
}
.purchase_sidebar_text {
  left: 0;
  padding: 0 20px;
  position: absolute;
  top: 16%;
}
.purchase_sidebar_text h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.purchase_sidebar_text > p {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}
.purchase_s > a {
  background: #f4655f none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  padding: 9px 13px;
  text-transform: uppercase;
}
.purchase_s {
  margin-top: 28px;
}
.left_fashion.main_nav_box ul li.nav_gadgets a {
  color: #e74c3c;
}
.fs_news_left.fs_gadgets_news_left {
  border: 1px solid #efefef;
  padding: 5px;
}
.fs_gadgets_news_left .single_fs_news_left_text {
  border: 0 solid #efefef;
  left: 25px;
  padding: 5px;
  position: absolute;
  top: 30%;
  z-index: 1;
}
.fs_gadgets_news_left .single_fs_news_left_text.single_fs_news_left_text > h4 {
  color: #fff;
}
.fs_gadgets_news_left .single_fs_news_left_text.single_fs_news_left_text > p {
  color: #fff;
}
.fs_gadgets_news_left .all_news_right {
  border: 0 solid #efefef;
  padding: 0 10px;
}
.follow_us_side h2 {
    border-bottom: 1px solid #efefef;
    color: #333333;
    /*
      font-size: 14px;
      font-weight: 500;
    */
    font-size: 15px;
    font-weight: 600;    
    margin-bottom: 25px;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-top: 16px;
    line-height: 22px;
}

.related-bottom{
    height: auto;
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
}

.related-bottom h2{
    border-bottom: 1px solid #efefef;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    font-size: 15px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-top: 16px;
    line-height: 22px;
}

.related-bottom h2 img{
    margin-right: 10px;
}

.related-bottom span{
    top: 72px;
    position: absolute;    
}

.bar-red{
    background: #ED1B35;
    height: 4px;
    width: 80px;
    position: absolute;
    top: 56px;
}

.bar-blue{
    background: #124F83;
    height: 4px;
    width: 80px;
    position: absolute;
    top: 56px;
}

.bar-green{
    background: #46A748;
    height: 4px;
    width: 80px;
    position: absolute;
    top: 56px;
}

.bidji-calendar{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.follow_us_side h2 img{
    margin-right: 10px;
    margin-left: -7px;
}

.single_follow_us {
background: #3b5998 none repeat scroll 0 0;
float: left;
height: 85px;
margin-right: 10px;
text-align: center;
width: 22%;
}
.single_follow_us a i {
font-size: 18px;
margin-bottom: 8px;
}
.single_follow_us a {
  color: #fff;
  font-size: 12px;
  padding-top: 15px;
  display: block;
}
.single_follow_us a:hover {
text-decoration:none;
}
.all_single_follow {
  border: 1px solid #efefef;
  overflow: hidden;
  padding: 10px;
}
.single_follow_us.last_one {
  margin-right: -10px;
   background: #EA4C89 none repeat scroll 0 0;
}
.single_follow_us.twit {
  background: #35A3F0 none repeat scroll 0 0;
}
.single_follow_us.goopl {
   background: #DD4B39 none repeat scroll 0 0;
}
.follow_us_side {
    margin-bottom: 30px;
    position: relative;
}
.follow_us_side .single_fs_news_right_text {
  margin-top: 0;
  width: 50%;
}
.follow_us_side .single_fs_news_right_text h4 {
font-size: 12px;
margin-bottom: 10px;
line-height: 18px;
}
.follow_us_side .single_fs_news_img {
  float: left;
  margin-right: 11px;
  width: 32%;
}
.home_add_box > img {
  width: 100%;
}
.main_nav_box ul li.nav_video_post {
  background: rgba(0, 0, 0, 0) url("images/video_post.png") no-repeat scroll 27px 25px;
  border-top: 0 solid #ffa431;
}
.left_fashion.main_nav_box ul li.nav_video_post a {
  color: #53ba8e;
}
.news_pagination ul.news_pagi {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.news_pagination ul.news_pagi li {
  display: inline-block;
}

.news_pagination ul.news_pagi li a {
    color: #333333;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    /*    width: 30px;*/
    width: auto;
    margin-left: 4px;
    margin-left: 4px;
    padding: 0px 10px;    
}
.news_pagination ul.news_pagi li a:hover {
  color: #fff;
/*  background:#333;*/
    background: #124F83;
    text-decoration:none;
}
.news_pagination ul.news_pagi li.dotlia a:hover {
  color: #333;
  background:transparent;
  text-decoration:none;
}
.news_pagination ul.news_pagi li.nextlia a {
  color: #333333;
  padding: 0 10px;
  width: 50px;
}
.news_pagination ul.news_pagi li.nextlia a:hover {
  color: #fff;
  background:#333;
  text-decoration:none;
}
.news_pagination {
  padding-top: 23px;
}
.single_fs_news_right_text a.video_f {
  color: #3bb17e;
  margin-right: 6px;
  text-transform: uppercase;
}
.single_fs_news_right_text i {
  margin-left: 5px;
  margin-right: 5px;
}
.fs_news_vid_right .single_fs_news_left_text > h4 {
  margin-bottom: 18px;
  width: 74%;
}
/* mobile nav */
.only-for-mobile {
  display: none !important;
}
.mobi-menu {
  display: none;
}
.mobi-menu {
  left: 0;
  margin: 0 auto;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  z-index: 99999;
}
#cssmenu {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  line-height: 1;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 0 0 #ffffff;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  background: #000000 none repeat scroll 0 0;
}
#cssmenu ul ul li a {
  padding: 15px 20px !important;
}
#cssmenu ul ul li a {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom: 2px solid #ffffff;
  color: #666666;
  cursor: pointer;
  font-family: Cousine,Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}
.sub_menu.sub_menu_p.single_mega {
  width: 207px;
}
ul.lev2sub {
  border-bottom: 2px solid #c66196;
  width: 236px;
}


/* =========================
3. Home 2 CSS
============================*/
.hp_banner_left.ht_banner_left {
  width: 46%;
}
.ht_banner_left .bl_single_news {
  margin-right: 0;
  width: 100%;
}
.hp_banner_left.ht_banner_right {
  margin-left: 1%;
  width: 26%;
}
.ht_banner_right .bl_single_news {
  margin-right: 0;
  width: 100%;
}
.ht_fs_news_left .single_fs_news_left_text > img {
  width: 100%;
}
.ht_fs_news_left .single_fs_news_left_text {
  padding: 10px;
}
.ht_all_news_right .single_fs_news_img {
  float: none;
  margin-right: 0;
  width: 100%;
}
.ht_all_news_right .single_fs_news_img > img {
  width: 100%;
}
.ht_all_news_right .single_fs_news_right_text a {
  display: block;
  font-size: 10px;
  margin-bottom: 17px;
  margin-top: 3px;
  text-transform: uppercase;
}
.ht_all_news_right .single_fs_news_right_text h4 {
  height: 85px;
}
.fashion_area_box {
  margin-bottom: 20px;
}
.ht_all_news_right2 .single_fs_news_img {
  float: left;
  margin-right: 11px;
  width: 31%;
}
.ht_all_news_right2 .single_fs_news_right_text {
  float: left;
  margin-top: 15px;
  width: 65%;
}
.ht_news_left2 .single_fs_news_left_text a {
  display: block;
  font-size: 10px;
  margin-top: 17px;
  padding-left: 10px;
  text-transform: uppercase;
}
.ht_news_left2 .single_fs_news_left_text h4 {
  margin-bottom: 18px;
}
.ht_add_inner_box > img {
  width: 100%;
}
.single_fs_news_left_text h4 a, .single_fs_news_right_text h4 a {
  color: #333;
  padding-left: 0 !important;
}
.gadgets_area_box .single_fs_news_left_text h4 a {
  color: #ffffff;
}
.single_fs_news_right_text h4 a {
  color: #333;
  font-size:14px;
  line-height: 20px;
}
.bl_single_news.bl_single_news_h2 {
  max-height: inherit;
  width: 100%;
}
.bl_single_news_img > img {
  width: 100%;
}
.h2_video_up {
  border: 1px solid #efefef;
  overflow: hidden;
  padding: 5px;
}
.single_home_two_middle img {
  width: 100%;
}
.single_home_two_middle {
  margin-bottom: 15px;
  position: relative;
}
.cc_home_two_middle h2 {
  border-bottom: 1px solid #ececec;
  color: #ea4c89;
  font-size: 13px;
  padding-bottom: 20px;
}
.ht_all_news_right .single_fs_news_right_text {
  float: left;
  margin-top: 15px;
  width: 100%;
}
.h_t_m_text > a {
  color: #6a7df4;
  font-size: 10px;
  text-transform: uppercase;
}
.cc_middle_h_two_add > img {
  width: 100%;
}
.single_fs_news_img > img {
  width: 100%;
}
.cc_home_two_middle {
  border: 1px solid #efefef;
  margin-top: 40px;
  padding: 15px;
}
.midd_br.br_cam a {
  background: rgba(251, 251, 251, 0.6) none repeat scroll 0 0;
  color: #000;
  font-size: 9px;
  padding: 7px;
  text-align: center;
}
.midd_br.br_cam {
  bottom: 5px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.single_h_two_middle_item p {
  color: #222;
  font-size: 12px;
  margin: 0 auto;
  width: 95%;
}
.single_h_two_middle_item {
  margin-bottom: 30px;
}
.cc_middle_h_two_blank {
  height: 650px;
}
.home_two_video_borrom {
  position: relative;
}
.home_two_video_borrom_content {
  width: 33%;
}
.home_two_video_borrom_content {
  border: 1px solid #efefef;
  margin-right: 15px;
  overflow: hidden;
  padding: 5px;
  width: 31%;
  float: left;
}
.home_two_video_borrom img {
  width: 100%;
}
.all_home_two_video_borrom {
  margin-right: -15px;
  margin-top: 20px;
  overflow: hidden;
}
.h_t_m_text h4 {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 70px;
  margin-top: 15px;
}
.h_t_m_text h4 a {
  color: #222;
}

.h_t_m_text a:hover {
  color: #222;
  text-decoration:none;
}
.h_t_m_text {
  padding: 20px 10px;
}
.h_t_m_text p {
  color: #999999;
  font-size: 10px;
  margin-bottom: 0;
}


/* =============================
4. Single video post page CSS
================================*/
.cc_single_post {
  padding-top: 41px;
}
.sp_video_box {
  margin-bottom: 38px;
}
.sp_details > a {
  background: #09aeef none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 10px;
  height: 18px;
  text-transform: uppercase;
  width: 96px;
  text-align: center;
  padding-top: 3px;
}
.br_single_news > img {
  width: 100%;
}
.sp_details > h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.post_meta {
    color: #999999;  
}
.post_meta > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.post_meta li {
    display: inline-block;
    margin-right: 6px;
    color: #999999;    
    font-size: 12px;
    line-height: 24px; 
    font-family: 'Lato', sans-serif;
}
.post_meta > ul li a {
  color: #999999;
/*  display: block;*/
}
.post_meta > ul li a i {
  margin-right:5px;
}
.post_meta {
  margin-bottom: 23px;
}

.post_meta a{
    color: #125083;
    text-decoration: none;
    outline: none!important;
}

.post_text > p, .single_comment_text > p {
/*    color: #999999;*/
    color: #606060;
    font-size: 15.5px!important;
    line-height: 27px;
}
.post_inner {
/*    border-left: 2px solid #09aeef;*/
    line-height: 27px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-top: 25px;
    padding-left: 20px;
    font-size: 15.5px;
    color: #606060;
}
.post_inner > p {
  color: #222222;
  font-size: 13px;
  font-style: italic;
  padding-top: 14px;
}
.social_tags {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  overflow: hidden;
  padding: 23px 0;
}
.social_tags_left > p {
  color: #333333;
  float: left;
  margin-bottom: 0;
  margin-right: 20px;
  text-transform: uppercase;
  width: 55px;
}
.social_tags_left > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.social_tags_left > ul li {
  display: inline-block;
  margin-right: 13px;
}
.social_tags_left ul li a {
  color: #333333;
  font-size: 11px;
}
.social_tags_left ul li a:hover {
  text-decoration:none;
  color:#F4473A;
}
.social_tags_left {
  float: left;
  margin-top: 5px;
  width: 50%;
}
.social_tags_right {
	float: left;
	margin-right: 30px;
	text-align: right;
	width: 46%;
}
.social_tags_right ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_tags_right ul li {
  display:inline-block;
    margin-right: 5px;
}

.social_tags_right ul li:last-child {
    margin-right: 0px;
}
.social_tags_right ul li a {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 29px;
  line-height: 30px;
  text-align: center;
  width: 29px;
}
.social_tags_right ul li a {
  text-decoration:none;
}
.social_tags_right ul li.facebook a {
	background: #3B5998;
}
.social_tags_right ul li.twitter a {
	background: #00ACED;
}
.social_tags_right ul li.google-plus a {
	background: #DD4B39;
}
.social_tags_right ul li.linkedin a {
	background: #1483A6;
}
.sp-next-prev {
  border-bottom: 1px solid hsl(0, 0%, 93%);
  overflow: hidden;
  padding: 38px 0;
}
.sp-next {
  float: left;
  margin-right: 2%;
  text-align: right;
  width: 46%;
}
.sp-prev {
  float: left;
  width: 50%;
}
.sp-prev > a, .sp-next > a {
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
}
.sp-prev i {
  margin-right: 8px;
}
.sp-next-post {
  margin-top: 15px;
}
.sp-next-post > a {
  color: #333;
  font-size: 13px;
}
.sp-comments-box > h2 {
  margin-top: 36px;
}
.sp-comments-box > h2, .comment-form > h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 36px;
  text-transform: uppercase;
}
.single_comment {
  overflow: hidden;
  padding: 36px 0;
}
.single_comment_pic {
  float: left;
  margin-right: 35px;
  overflow: hidden;
  width: 105px;
}
.single_comment_text {
  float: left;
  overflow: hidden;
  width: 83%;
}
.sp_title a h4 {
  color: #333;
  font-size: 13px;
  text-transform: uppercase;
}
.sp_title a h4:hover, .sp-prev > a:hover , .sp-next > a:hover, .sp-next-post > a:hover, .single_comment_text a:hover {
  color: #F8928D;
  text-decoration:none;
}
.sp_title a:hover {
  text-decoration:none;
}
.single_comment_text > a {
  color: #999;
  font-size: 12px;
}
.single_comment_text i {
  margin-right: 5px;
}
.sp_title {
  overflow: hidden;
}
.sp_title > a {
  float: left;
  width: 80%;
}
.sp_title > p {
  color:#999;
  float: left;
  font-size: 12px;
  text-align: right;
  width: 20%;
}
.single_comment:nth-child(3) .single_comment_text {
  width: 68%;
}
.single_comment:nth-child(3) .single_comment_pic {
  margin-left: 115px;
}
.single_comment:nth-child(3) {
  margin-left: 50px;
  border-top: 1px solid hsl(0, 0%, 93%);
  border-bottom: 1px solid hsl(0, 0%, 93%);
}
.comment-form h2 {
/*  margin-bottom: 48px;*/
  margin-bottom: 0px;
  margin-top: 13px;
}
.contact-page-form h2, .contact_address h2 {
  margin-bottom: 30px;
  margin-top: 13px;
  font-weight:400;
  font-size:20px;
  color:#333;
  text-transform:uppercase;
}
.contact-page-form h2 {
  margin-bottom: 15px;
}
.inp_name > input[type="text"] {
  border-color: #E7E7E7;
  border-style: solid;
  border-width: 0 0 1px;
  color:#777;
  font-size: 12px;
  padding: 19px 0;
  text-transform: uppercase;
  width: 48%;
}
.contact_cc_name > input[type="text"] {
  border-color: #E7E7E7;
  border-style: solid;
  border-width: 0 0 1px;
  color:#777;
  font-size: 12px;
  padding: 19px 0;
  text-transform: uppercase;
  width: 100%;
}
#c_name {
  margin-right: 3%;
}
.inp_name {
  margin-bottom: 40px;
}
.comments_form textarea {
  border-color: #E7E7E7;
  border-style: solid;
  border-width: 0 0 1px;
  height: 123px;
  margin-bottom: 57px;
  margin-top: 12px;
  width: 100%;
  font-size: 12px;
  color:#777;
  text-transform: uppercase;
}
.comments_form input[type="submit"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: hsl(0, 0%, 20%);
  font-size: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.comments_form input[type="submit"]:hover {
  color: #F8928D;
}

/* =============================
5. Single post page CSS
================================*/

.bsp_img {
  margin-bottom: 30px;
}


/* =============================
6. Single quote post page CSS
================================*/

.bsqp_quote {
  background: rgba(0, 0, 0, 0) url("images/quote_caro_img.jpg") no-repeat scroll center center / cover ;
  height: 300px;
  padding-top: 50px;
  position: relative;
  text-align: center;
}
.bsqp_quote_text > p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: uppercase;
}
.bsqp_quote_text > span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.bsqp_quote::after {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bsqp_quote_text {
  position: relative;
  z-index: 8;
}

/* =============================
7. About page CSS
================================*/
.about_slider {
  margin-top: 48px;
  position: relative;
}
.about_slider::after {
  background: rgba(0, 0, 0, 0) url("images/about_s_bg2.jpg") no-repeat scroll 0 0;
  content: "";
  height: 304px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 100%;
  z-index: -1;
}
#about_slider_r .carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
  left: 15px;
  top: calc(50% - 16px);
}
#about_slider_r .carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
  left: auto;
  right: 15px;
  top: calc(50% - 16px);
}
#about_slider_r .carousel-control {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  bottom: 0;
  color: #000000;
  font-size: 20px;
  height: 32px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  top: 0;
  width: 32px;
}
.doing_what h2, .our_authors h2, .our_skills_exp h2 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.doing_what p {
  color: #999;
  font-size: 14px;
}
.doing_what {
  padding-top: 40px;
}
.read_more_about a {
  background: #222 none repeat scroll 0 0;
  color: #fff;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  margin-right: 20px;
  padding-top: 13px;
  text-align: center;
  text-transform: uppercase;
  width: 130px;
}
.read_more_about a:hover {
  text-decoration: none;
  background:#c66196;
}
.autor_img {
  height: 289px;
  overflow: hidden;
}
div.home_sidebar .single_fs_news_right_text h4 a {
  color: #333333;
  font-size: 13px;
}
div.home_sidebar .single_fs_news_right_text h4 a:hover {
/*  color: #c66196;*/
    color: #125083;
}
.read_more_about {
  margin-top: 45px;
}
.our_authors_area {
  padding: 60px 0;
}
.author_desc_left h4 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  font-weight: 400;
}
.author_desc_left > p {
  color: #333;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}
.author_desc_right ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align:right;
}
.author_desc_right ul li{
  display:inline;
}
.author_desc_right ul li a {
  border-right: 1px solid #333;
  color: #333;
  display: inline-block;
  font-size: 12px;
  padding: 0px 5px;
}
.author_desc_right ul li a.last_one {
  border-right: 0px solid #333;
}
.author_desc_right ul li a:hover{
  text-decoration:none;
  color:#35A3F0;
}
.author_desc_left h4 {
    margin-bottom: 5px; 
}
.author_desc {
  background: #f1f1f1 none repeat scroll 0 0;
  overflow: hidden;
  padding: 15px 35px 20px 22px;
}
.author_desc_left {
  float: left;
  width: 50%;
}
.author_desc_right {
  float: left;
  padding-top: 6px;
  width: 50%;
}
.experience_img {
  float: left;
  margin-right: 15px;
  width: 20%;
}
.experience_text_right {
  float: left;
  width: 77%;
}
.our_experiences .panel-title i {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  height: 27px;
  margin-right: 18px;
  padding-top: 6px;
  text-align: center;
  width: 25px;
}
.our_experiences .panel-title > a {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.sp_audio_box.sp_video_box > iframe {
  width: 100%;
}
.our_experiences .panel-default > .panel-heading {
  background:#F8F8F8;
  
}
.our_experiences .panel-heading {
  border-bottom: 0 solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 7px 15px;
}
.our_experiences .panel-group .panel {
  border-radius: 0;
}
.our_experiences .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 0 solid #ddd;
}
.our_experiences .panel {
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}
.our_skills .progress {
  background-color: #333;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) inset;
  height: 3px;
  margin-bottom: 20px;
  overflow: hidden;
}
.our_skills .progress-bar {
  background: #2b68b1 none repeat scroll 0 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) inset;
  color: #fff;
  float: left;
  font-size: 12px;
  height: 100%;
  line-height: 20px;
  margin-right: 6px;
  text-align: center;
  transition: width 0.6s ease 0s;
  width: 0;
}
.prog_h_left h2, .prog_h_right p {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
.prog_h_left {
  float: left;
  width: 50%;
}
.prog_h_right p {
  text-align: right;
}
.prog_h_right {
  float: left;
  width: 50%;
}
.heading_progress {
  overflow: hidden;
}

.breadcum_c_left{
    overflow: hidden;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 20px;
    margin-bottom: 10px;
    line-height: 24px;    
}

.breadcum_c_left p {
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  margin-bottom: 0px;
}

.breadcum_c_left a, .breadcum_c_left a:hover{
    color: #125083;
    text-decoration: none;
    outline:none!important;
}

.breadcum_c_right ul {
  list-style: outside none none;
  margin: 0 -7px 0 0;
  padding: 0;
  text-align: right;
}
.breadcum_c_right ul li{
display:inline;
font-size: 10px;
}
.breadcumb_common_area {
  background: #f8f8f8 none repeat scroll 0 0;
  padding-bottom: 22px;
  padding-top: 25px;
}
.breadcum_c_right ul li a {
  color: #333;
  display: inline-block;
  font-size: 10px;
  padding: 0 7px;
  text-transform: uppercase;
}
.breadcum_c_right ul li a:hover{
text-decoration:none;
}
.experience_text_right h4 {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}
.experience_text_right p {
  color: #777;
  font-size: 14px;
}
.single_author_about > img {
  width: 100%;
}
/* =============================
8. contact page CSS
================================*/
.visit_us_contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visit_us_contact ul li{
  
}
.visit_us_contact ul li a {
  color: #999999;
  display: block;
  margin-bottom: 15px;
}
.visit_us_contact ul li a:hover{
  text-decoration: none;
}
.visit_img {
  float: left;
  width: 6%;
}
.contact_address p {
  color: #777;
  margin-bottom: 30px;
  line-height:23px;
}
.contact_message_area {
  padding-top: 30px;
  padding-bottom: 15px;
}
.thank_box {
background: none repeat scroll 0 0 #eee;
border-bottom: 5px solid #C66196;
font-size: 20px;
height: 271px;
margin: 100px auto 0;
padding-top: 90px;
text-align: center;
width: 55%;
}
.thank_box a {
background: none repeat scroll 0 0 #C66196;
border: 2px solid #C66196;
color: #fff;
display: block;
font-size: 13px;
margin: 25px auto 0;
padding: 5px 10px;
text-transform: uppercase;
width: 197px;
}
.thank_box a:hover {
  background: none repeat scroll 0 0 #fff;
  color: #C66196;
  border:2px solid #C66196;
  text-decoration:none;
}
.thank_box i {
  font-size: 12px;
  margin-right: 5px;
}


/* BY BIDJI AGUS  */
.border-rainbow{
    height: 4px;
    overflow: hidden;
    width: 100%;
    text-align:center;
background: rgba(237,27,51,1);
background: -moz-linear-gradient(left, rgba(237,27,51,1) 0%, rgba(237,27,51,1) 16%, rgba(18,78,131,1) 16%, rgba(18,78,131,1) 33%, rgba(70,167,72,1) 33%, rgba(70,167,72,1) 50%, rgba(240,47,23,1) 50%, rgba(237,27,51,1) 66%, rgba(18,78,131,1) 66%, rgba(18,78,131,1) 83%, rgba(70,167,72,1) 83%, rgba(70,167,72,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,27,51,1)), color-stop(16%, rgba(237,27,51,1)), color-stop(16%, rgba(18,78,131,1)), color-stop(33%, rgba(18,78,131,1)), color-stop(33%, rgba(70,167,72,1)), color-stop(50%, rgba(70,167,72,1)), color-stop(50%, rgba(240,47,23,1)), color-stop(66%, rgba(237,27,51,1)), color-stop(66%, rgba(18,78,131,1)), color-stop(83%, rgba(18,78,131,1)), color-stop(83%, rgba(70,167,72,1)), color-stop(100%, rgba(70,167,72,1)));
background: -webkit-linear-gradient(left, rgba(237,27,51,1) 0%, rgba(237,27,51,1) 16%, rgba(18,78,131,1) 16%, rgba(18,78,131,1) 33%, rgba(70,167,72,1) 33%, rgba(70,167,72,1) 50%, rgba(240,47,23,1) 50%, rgba(237,27,51,1) 66%, rgba(18,78,131,1) 66%, rgba(18,78,131,1) 83%, rgba(70,167,72,1) 83%, rgba(70,167,72,1) 100%);
background: -o-linear-gradient(left, rgba(237,27,51,1) 0%, rgba(237,27,51,1) 16%, rgba(18,78,131,1) 16%, rgba(18,78,131,1) 33%, rgba(70,167,72,1) 33%, rgba(70,167,72,1) 50%, rgba(240,47,23,1) 50%, rgba(237,27,51,1) 66%, rgba(18,78,131,1) 66%, rgba(18,78,131,1) 83%, rgba(70,167,72,1) 83%, rgba(70,167,72,1) 100%);
background: -ms-linear-gradient(left, rgba(237,27,51,1) 0%, rgba(237,27,51,1) 16%, rgba(18,78,131,1) 16%, rgba(18,78,131,1) 33%, rgba(70,167,72,1) 33%, rgba(70,167,72,1) 50%, rgba(240,47,23,1) 50%, rgba(237,27,51,1) 66%, rgba(18,78,131,1) 66%, rgba(18,78,131,1) 83%, rgba(70,167,72,1) 83%, rgba(70,167,72,1) 100%);
background: linear-gradient(to right, rgba(237,27,51,1) 0%, rgba(237,27,51,1) 16%, rgba(18,78,131,1) 16%, rgba(18,78,131,1) 33%, rgba(70,167,72,1) 33%, rgba(70,167,72,1) 50%, rgba(240,47,23,1) 50%, rgba(237,27,51,1) 66%, rgba(18,78,131,1) 66%, rgba(18,78,131,1) 83%, rgba(70,167,72,1) 83%, rgba(70,167,72,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1b33', endColorstr='#46a748', GradientType=1 );
    position: relative;
    bottom:-19px;
}
.text-link-side-bar{
    height: auto;
    overflow:hidden;
}
.text-link-side-bar p{
    margin-bottom: 0px;
    padding-bottom:6px;
    color: #333333!important;
}
.text-link-side-bar p a{
    color: #333333;
    text-decoration: none;
    font-size: 15px;
    
}

.text-link-side-bar p > span > a{
    color: #333333;
    text-decoration: none;
}

.v-middle-calendar{
    display: table;
    width: 100%;
    height: auto;
}

.v-middle-calendar span.date-box-blues{
    background: #125083;
    color: #fff;
    text-align: center;
    width: 75px;
    height: 75px;
    float: left;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    margin: 5px 8px 5px 0px;
    font-size: 24px;
    line-height: 27px;
    padding-top: 10px;
    font-weight: 700;    
}

.v-middle-calendar p{
    vertical-align: middle!important;
    display: table-cell!important;
    text-align: left;
    width: 100%;
}

.v-middle-calendar p a{
    color: #333;
    text-decoration: none;
    outline: none;
}

.v-middle-calendar p a:hover{
    color: #333;
    text-decoration: none;
    outline: none;
}

.list-of-article{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 20px;
}

.list-of-article h4{
    font-size: 20px;
    font-weight: 700;  
    font-family: 'Lato', sans-serif;
    color: #333;
    margin-bottom: 0px;
    padding-left: 0px;
}

.list-of-article h4 a{
    color: #333;
    text-decoration: none;
}

.post-meta-list{
    margin-bottom: 15px!important;
}

.related-column{
    height: auto;
    overflow: hidden;
}

.related-column ul{
    padding-left: 0px;
}

.related-column ul li{
    list-style: none;
}

.title-related{
    text-align: left;
    color: #333;
    text-decoration: none;
    outline: none;
}

.title-related a, .title-related a:hover{
    color: #333;
    text-decoration: none;
    outline: none;
}

.simple-headline{
    
}

.writer-cover-thumb{
    float: left;
    margin-right: 24px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    overflow: hidden;
    background: #BDBDBD;
    border-radius: 24px;
}

.mr-grey{
    color: #999999;
}

.mr-grey a{
    color: #999999;
}

.mr-grey a:hover{
    color: #333339;
}

.post-meta-blog{
    color: #999999;
    font-size: 12.5px;
}

.post-meta-blog ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 2px;
}

.post-meta-blog ul li{
    display: inline-block;
    margin-right: 14px;
    
}

.post-meta-blog > ul li a i {
    margin-right: 5px;
}

.post-meta-blog a{
    color: #999999;
}

/* META KLIPING KORAN */
.post-meta-koran{
    display: block;
    margin-bottom: 15px!important;
    font-size: 10px;
    color:999;
}

.post-meta-koran ul{
    padding: 0px;
}

.post-meta-koran ul li a.download-blue{
    color: #125083!important;
    text-decoration: none!important;
}

.post-meta-koran ul li, .post-meta-koran ul li a{
    list-style: none;
    display: list-item!important;
    font-size: 11px!important;
    color:999!important;    
    text-decoration: none;
}

.post-meta-koran ul li a{
    list-style: none;
    display: list-item!important;
    font-size: 11px!important;
    color:999!important;    
    text-decoration: none;
}

/* META KLIPING KORAN */

.tab-container .panel-container {
    border:1px solid #EFEFEF!important;
}

.etabs{
    padding: 0 10px;
    color: #333;
    font-size:14px;
    text-transform:uppercase;
    font-family:'Lato', sans-serif;
    background: #fff!important;
    border-bottom: 1px solid #efefef;
    padding-bottom: 1px;
}

.tab{
    background: #fff!important;
    color: #124F83;
}

.tab a{
    color: #333!important;
    padding-bottom: 15px;
    font-size: 13px!important;
    line-height: 2em;
    display: block;
    padding: 0 6px;    
}

.tab a.active {
    font-weight: bold;
    color: #124F83!important;
}

#tabs-popular{
    font-size: 14px;
    letter-spacing: 0px;
    color:#333;
    padding-bottom: 6px;    
    color: #333;
}

#tabs-popular ul{
}

#tabs-popular ul li, #tabs-recent ul li, #tabs-comment ul li{
    list-style: none;
    padding: 4px 0;
}

#tabs-popular ul li a, #tabs-recent ul li a, #tabs-comment ul li a{
    font-size: 15px;
    padding-bottom: 15px;    
    color: #333;
    font-weight: 400;
    text-decoration: none!important;
    outline:none!important;
    border-bottom: 1px solid #efefef!important;
    padding-left: 0px;
}

#tabs-popular ul li a:hover, #tabs-recent ul li a:hover, #tabs-comment ul li a:hover{
    color: #333;
    text-decoration: none;
}


.calender-thumb-blue{
    background: #125083;
    color: #fff;
    float: left;
    width: 75px;
    height: 75px;
    overflow: hidden;
    margin: 5px 20px 5px 0px;
    font-size: 24px;
    line-height: 27px;
    padding-top: 10px;
    font-weight: 700;    
    vertical-align: middle;
    display: table-cell;    
    text-align: center;
}

.calender-thumb-blue h4{
    color: #fff;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight:400;
    text-transform: uppercase;
    line-height: 16px;
    padding-bottom: 0px;  
    padding-right: 0px;
}

.calender-thumb-blue span{
    color: #fff;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight:400;
    text-transform: uppercase;
}

a.direct-link-download{
    background: #46A748;
    color: #fff;
    border-radius: 3px;
    padding: 6px 24px; 
    height: auto;
    overflow: hidden;    
}

a.direct-link-download:hover{
    text-decoration: none;
    background: #329535;
}

#katknowledge{
    height: auto;
    font-family: 'Lato', sans-serif;
    color:#333; 
}

#katknowledge ul{
    padding: 0px;
}

#katknowledge ul li{
    list-style: none;
}

#katknowledge ul li h5{
    font-family: 'Lato', sans-serif;
    color: #333;
    margin: 0px 0px 10px;
    font-size: 15.5px;
    font-weight: 400;
    outline:none!important;
}

#katknowledge ul li h5 a{
    color: #333;
    outline: none;
    text-decoration: none;
}

#katknowledge ul li h5:hover{
    color:#787878;
    text-decoration: none;
}

#katknowledge ul ul li a{
    font-family: 'Lato', sans-serif;
    color: #333;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 400;
    outline:none!important;
}

#katknowledge ul ul li a:hover{
    color:#787878;
    text-decoration: none;
}

#katknowledge ul li h5 a:hover{
    color:#787878;
    text-decoration: none;
}

.date-by-author{
    height: auto;
    margin-top:24px;
}

.list-of-gallery{
    height:auto;
    overflow: hidden;
    min-height: 96px;
}

.list-of-gallery ul{
    padding: 0px;
}

.list-of-gallery ul li{
    list-style:none;
}

.title-calendar{
    min-height: 96px;
    overflow: hidden;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #333;
    margin-bottom: 0px;
    padding-left: 0px;
}

.title-calendar a, .title-calendar a a :hover{
    min-height: 96px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #333;
    margin-bottom: 0px;
    padding-left: 0px;
    text-decoration: none;
}

.square-photo {
/*    min-height: 256px;*/
    min-height:190px;
    overflow: hidden;
    background: #fff;
    padding-left: 0px;
    padding-top: 0px;
}

.square-photo a{
    min-height: 196px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #333;
    margin-bottom: 0px;
    padding-left: 0px;
    text-decoration: none;
}

.title-gallery{
    min-height: 90px;
}

.title-gallery a, .title-gallery a:hover{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #333;
    text-align: none;
}

.title-gallery a h5{
    padding-left: 0px;
}

.admin-edit{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    margin-top: 0px;
    vertical-align: middle;
    display: table;
    width: 100%;
    padding-left: 15px;
}

/* PROFILE */

.cover-area-profile{
    width: 100%;
    height: auto;
    min-height: 360px;
    background-color: #124F83; 
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom center, top;
    background-image: url(../images/bg-for-profile-cover.png);
    background-position: 100% 100%;  
    overflow: hidden;
    max-height: 420px;
    background-size: cover;
}

.min-225{
    min-height: 225px;
}

.cover-area-profile img{
    width: 100%!important;
    height: auto;
}

.wrapper-administrator{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.wrapper-left-profile{
    width: 100%;
    height: auto;
    margin-right: 0px;
}

.nametag-admin{
    width:auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    margin-top: -95px;
    display: block;
}

.fullname-admin {
    float: left;
    /*width: 70%;*/
    height: auto;
}

.admin-photo-profile {
    float: left;
    width: 156px;
    height: 156px;
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 0px;
    text-align: center;
    margin-left: 10px;
}

.fullname-admin{
    height: auto;
    overflow: hidden;
    border:0px !important;
    z-index: 999!important;
}

.fullname-admin h2{
    height: auto;
    width: 60%;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    border:0px !important;
}

.about-administrator{
    width: 100%;
    height: auto;
    margin-top: 69px;
    margin-bottom: 10px;
}

.latest-activity {
    width: 100%;
    height: auto;
    color: #333;
    font-family: 'Lato', sans-serif;
}

.latest-activity h4 {
    color: #333;
    background: #fff;
    padding: 10px 0px;
    text-transform: none!important;
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
    display: block;
/*  font-size: 14px;*/
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 0px;
    text-transform: none !important;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding-left: 0px;       
}

.latest-activity h4 .title_villa{
    color: #333;
    background: #fff;
    padding: 10px 0px;
    text-transform: none!important;
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
    display: block;
/*  font-size: 14px;*/
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 0px;
    text-transform: none !important;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding-left: 0px; 
}

.latest-activity ul{
    padding:0px;
    margin-left: 0px;
}

.latest-activity ul li{
/*    padding:15px 0px;*/
    padding: 0px;
    height:auto;
    overflow: hidden;
}

.latest-activity ul li a, .latest-activity ul li a:hover {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #787878;
    padding: 12px 0px 4px 0px;
    text-decoration: none;
}

.activity-date{
    display: block;
    width: 100%;
    height: auto;
}

.rainbow-block-blog{
    width: 100%;
    height: 4px;
    overflow: hidden;
    width: 100%;
    text-align:center;
    background: rgba(198,97,150,1);
    background: -moz-linear-gradient(left, rgba(198,97,150,1) 0%, rgba(198,97,150,1) 14%, rgba(53,163,240,1) 14%, rgba(53,163,240,1) 28%, rgba(180,189,0,1) 28%, rgba(180,189,0,1) 42%, rgba(244,100,95,1) 42%, rgba(244,100,95,1) 57%, rgba(86,185,231,1) 57%, rgba(86,185,231,1) 72%, rgba(255,162,49,1) 72%, rgba(255,162,49,1) 86%, rgba(90,66,130,1) 86%, rgba(90,66,130,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(198,97,150,1)), color-stop(14%, rgba(198,97,150,1)), color-stop(14%, rgba(53,163,240,1)), color-stop(28%, rgba(53,163,240,1)), color-stop(28%, rgba(180,189,0,1)), color-stop(42%, rgba(180,189,0,1)), color-stop(42%, rgba(244,100,95,1)), color-stop(57%, rgba(244,100,95,1)), color-stop(57%, rgba(86,185,231,1)), color-stop(72%, rgba(86,185,231,1)), color-stop(72%, rgba(255,162,49,1)), color-stop(86%, rgba(255,162,49,1)), color-stop(86%, rgba(90,66,130,1)), color-stop(100%, rgba(90,66,130,1)));
    background: -webkit-linear-gradient(left, rgba(198,97,150,1) 0%, rgba(198,97,150,1) 14%, rgba(53,163,240,1) 14%, rgba(53,163,240,1) 28%, rgba(180,189,0,1) 28%, rgba(180,189,0,1) 42%, rgba(244,100,95,1) 42%, rgba(244,100,95,1) 57%, rgba(86,185,231,1) 57%, rgba(86,185,231,1) 72%, rgba(255,162,49,1) 72%, rgba(255,162,49,1) 86%, rgba(90,66,130,1) 86%, rgba(90,66,130,1) 100%);
    background: -o-linear-gradient(left, rgba(198,97,150,1) 0%, rgba(198,97,150,1) 14%, rgba(53,163,240,1) 14%, rgba(53,163,240,1) 28%, rgba(180,189,0,1) 28%, rgba(180,189,0,1) 42%, rgba(244,100,95,1) 42%, rgba(244,100,95,1) 57%, rgba(86,185,231,1) 57%, rgba(86,185,231,1) 72%, rgba(255,162,49,1) 72%, rgba(255,162,49,1) 86%, rgba(90,66,130,1) 86%, rgba(90,66,130,1) 100%);
    background: -ms-linear-gradient(left, rgba(198,97,150,1) 0%, rgba(198,97,150,1) 14%, rgba(53,163,240,1) 14%, rgba(53,163,240,1) 28%, rgba(180,189,0,1) 28%, rgba(180,189,0,1) 42%, rgba(244,100,95,1) 42%, rgba(244,100,95,1) 57%, rgba(86,185,231,1) 57%, rgba(86,185,231,1) 72%, rgba(255,162,49,1) 72%, rgba(255,162,49,1) 86%, rgba(90,66,130,1) 86%, rgba(90,66,130,1) 100%);
    background: linear-gradient(to right, rgba(198,97,150,1) 0%, rgba(198,97,150,1) 14%, rgba(53,163,240,1) 14%, rgba(53,163,240,1) 28%, rgba(180,189,0,1) 28%, rgba(180,189,0,1) 42%, rgba(244,100,95,1) 42%, rgba(244,100,95,1) 57%, rgba(86,185,231,1) 57%, rgba(86,185,231,1) 72%, rgba(255,162,49,1) 72%, rgba(255,162,49,1) 86%, rgba(90,66,130,1) 86%, rgba(90,66,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c66196', endColorstr='#5a4282', GradientType=1 );      
}

.nametag-admin-blog{
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-top: -75px;
    display: block;
}

.fullname-admin-blog {
    float: left;
    width: 85%;
    height: auto;
}

.fullname-admin-blog h2 {
    height: auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    border: 0px !important;
    margin-top: 70px;
    padding-left: 15px;
}

.button-blog {
    font-family: 'Lato', sans-serif;
    color: #fff;
    cursor: pointer;
    background: #124F83;
    border: 0px;
    padding: 0px 13px 0px 13px;
    margin: 10px 0px 6px 10px;
    height: auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    float: left;
    display: block;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    text-align: center;
    text-transform: uppercase;    
}

.postmetadatablog-comment{
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    padding:24px 0px;
}

.post-comment-blog {
    width: 100%;
    display: block;
    padding-top: 15px;
    border-top: 1px dotted #E3E3E3;

}

.list-commenters {
    float: left;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 12px;
    background: #f8f8f8;
    padding: 12px 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.single_comment{
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.single_comment_pic {
    float: left;
    margin-right: 35px;
    overflow: hidden;
    width: 105px;
    height: 105px;
    background: #f1f1f1;
}

.comments_form textarea {
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 0 0 1px;
    height: 123px;
    margin-bottom: 57px;
    margin-top: 12px;
    width: 100%;
    font-size: 15px;
    color: #777;
    text-transform: none!important;
    box-shadow: none!important;
}

.comments_form input[type="button"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: hsl(0, 0%, 20%);
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.fullname-admin-action{
    height: auto;
    overflow: hidden;
    border:0px !important;
    z-index: 999!important;
    position: relative;
    float: left;
    display: block;
}

.fullname-admin-action h2{
    height: auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    border: 0px !important;
    margin-top: 70px;
}

.button-post-first{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: hsl(0, 0%, 20%);
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: middle;
    display: table;
}

.button-post-first a, .button-post-first a:hover{
    color: #333333;
    text-decoration: none;
    outline: none;
}

.button-post-first a img{
    margin-right: 10px;
}


#related-posts ul li {
    float: left;
    width: 33.3%;
    height: auto;
    margin: 0 4px 0 0;
    border: 1px solid #EFEFEF;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1px 1px 1px 1px;
    display: block;
}

.title-car {
    color: #333;
    font: normal 13px 'Lato', Sans-Serif;
    text-shadow: 1px 1px 1px #ccc;
    line-height: 18px;
    text-align: center;
    display: block !important;
    width: auto;
    padding-bottom: 6px;
    min-height: 64px;
    height: auto;
}

.title-car a, .title-car a:hover{
    color: #333;
    font: normal 13px 'Lato', Sans-Serif;
    text-decoration: none;
}

.wrap-of-editorial{
    height: auto;
    overflow: hidden;
    width: 100%;
}

/* EDIT BLOG FORM */

.wrap-blank-thumb{
    width: 100%;
    min-height: 270px;
    background: #f1f1f1;
    margin-bottom: 32px;
}

.wrap-blank-cover{
    width: 100%;
    min-height: 90px;
/*    background: #f1f1f1;*/
    background:#fff;
    margin-bottom: 32px;
}

.thumb_image_blog {
    margin-left: 0px;
    height: auto;
    width: 100%;
}

.delete_image{
    text-align: center;
    width: 100%;
    display: block;
    background: #fff;
}

.delete_cover{
    text-align: center;
    width: 100%;
    display: block;
    background: #fff;
}

.input-file-container {
/*  position: relative;*/
  width: 100%;
} 
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #F7F8FD;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    z-index: 2;
    position: absolute; 
    width: 200px;
    top: 0px;
    color: hsl(0, 0%, 20%);
    text-transform: uppercase;    
    text-align: center;
}

.js .input-file-trigger-ava {
    display: block;
    padding: 14px 45px;
    background: #F7F8FD;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    z-index: 2;
/*    position: absolute; */
    position: relative;
    width: 200px;
    top: 0px;
    color: hsl(0, 0%, 20%);
    text-transform: uppercase;    
    text-align: center;
    border-right: 15px solid #fff;
}

.js .input-file {
/*  position: absolute;*/
    top: 0; left: 0;
    width: 320px;
    opacity: 1;
    padding: 0px 0px 32px;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 117px;
    outline: none!important;
}

.js .input-file-cover{
    top: 0; left: 0;
    width: 320px;
    opacity: 1;
    padding: 0px 0px 32px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 132px;
    outline: none!important;
}

.js .input-file-ava{
    top: 0; left: 0;
    width: 320px;
    opacity: 1;
    padding: 0px 0px 32px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 132px;
    outline: none!important;
}

.alert-message-success{
    background:#c1dfc4;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding:10px 15px;
    border-radius: 3px;
}

.js .input-file-trigger{
    border-right: 15px solid #fff;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #124F83;
    color: #fff;
    z-index: 2;
    position: absolute;
    outline: none!important;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.wrap-editorial{
    width: 100%;
    height: auto;
    display: block;
    padding-top: 32px;
}

.every-form{
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.every-form .label{
    width: 100%;
    height: auto;
    padding:10px 0px;
    color: #333;
    text-align: left;
    font-size: 14px;
    font-family: 'Lato', sans-serif;    
}

.every-form > input[type="text"] {
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 0 0 1px;
    color: #777;
    font-size: 14px;
    padding: 10px 5px;
    text-transform: none;
    width: 100%;
    height: 50px;
    box-shadow: none;
    margin: 7px 0px;
}

.every-form > textarea {
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 0 0 1px;
    color: #777;
    font-size: 14px;
    padding: 10px 5px;
    text-transform: none;
    width: 100%;
    height: 90px;
    box-shadow: none;
    margin: 7px 0px;
}

.every-form input[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: hsl(0, 0%, 20%);
    font-size: 13px;
    padding: 10px 20px;
    text-transform: uppercase;
}

#submit{
    background: #124F83 none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 12px;
    padding: 12px 24px;
    text-transform: uppercase;
    border-radius: 0px;
    float: right;
    margin-top: 15px;
}

.editor-area {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%!important;
}

table.cke_editor > tbody > tr > td#cke_contents_editor1{
	border:1px solid #e7e7e7!important;
}

table.cke_editor > tbody > tr > td#cke_bottom_editor1, table.cke_editor > tbody > tr > td#cke_top_editor1{
	border:1px solid #e7e7e7!important;
}

.wrap-overflow{
    width: 100%;
    height: auto;
    display: block;
}

.thumb_image_cover, .thumb_image_avatar{
    width: 100%;
    margin: 0;
    padding: 0px;
}

/* BROWSE FILE */



/* EDIT BLOG FORM */

.input-center{
    width: 80%;
    margin: 0 auto;
    height: auto;
    float: none;
}

.thumb-arhive-book{
    height: ;
    width: 100%;
    min-height: 235px;
    box-shadow: none;
    border: 1px solid #EFEFEF;
}

/* INPUT BLOG */


.left_fashion-full.main_nav_box{
    float: left;
    width: 100%;
}

.single_fs_news_right_text{
    width: 100%!important;
}

.single_fs_news_right_text h4{
    color: #333;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 0px;
/*    margin-top: 17px;*/
    padding-left: 0px;
}

.single_fs_news_right_text h4 a{
    color: #333;
    font-size: 17px!important;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 0px!important;
    margin-top: 17px;    
}

.view {
    width: 100%;
    height: 120px;
    margin: 2px 0 10px 1px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 1px #aaa;
    cursor: default;
}

.blog-of-item{
    height: auto;
    overflow: hidden;
    width: 100%;
}

.blog-of-item ul {
    list-style: none;
    margin-left: 6px;
}

.blog-of-item ul li{
    list-style: none;
    padding: 12px 0px;
    border-bottom: 1px solid #efefef;
}

.blog-of-item ul li:first-child{
    padding-top: 0px;
}

.blog-of-item ul li a{
    list-style: none;
    font-size: 15px;
    color: #333;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    text-decoration: none;
}

.blog-of-item ul li p{
    font-size: 15px;
    color: #333;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    text-decoration: none;
}

.blog-of-item ul li p a{
    list-style: none;
    font-size: 15px;
    color: #124F83;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 600;
    text-decoration: none;
}

.blog-of-item ul li h4{
    color: #333;
    font-size: 17px!important;
    font-weight: 600!important;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

.announcement-time{
    height: auto;
    overflow: hidden;
    padding: 0px 0px;
    color: #999999;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;    
}

.absensi-list{
    height: auto;
    width: 100%;
    color: #fff;
}

.absensi-list ul{
    padding: 0px;
}

.absensi-list ul li{
    padding: 10px 0px 10px 10px;
    list-style: none;
    background: #124f83;
    border-left: 6px solid #ed1b35;
    color: #fff;
    text-decoration: none;
}

.absensi-list ul li a{ 
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.absensi-list ul li a:hover{ 
    text-decoration: none;
}

.absensi-list ul li img{
    margin-right: 15px;
}

.calender-box-list{
    height: auto;
    display: block;
}

.calender-box-list ul{
    padding: 0px;
}

.calender-box-list ul li{
    padding: 0px;
    list-style: none;
    padding:0px 0px;
    display: block;
    height: auto;
    width: 100%;
}

.announcement-time i{
    margin-left: 5px;
    margin-right: 5px;
}

/* SETTING RADIO */


.custome-vertical-rb{
    height:auto;
    width: 100%;
    display: block;
    background: #fff;
}

.rb-vote{
    width: 100%;
    display: block;
    height: auto;
    padding:10px 0px 0px;
    overflow: hidden;
}

.rb-vote label{
    text-align: left!important;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.self-service {
    
    margin-top: 6px;
    border-top: 1px solid #fefefe;
    border-right: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
    border-left: 1px solid #fefefe;
    padding: 2px 15px 13px;
    min-height: 209px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.h3-orange {
    color: #fff;
}

.self-service ul{
    list-style-image: url('images/li-self-emp.png');
    margin-top: 15px;
    padding-left: 20px;
}

.self-service ul li {
    font-size: 13px;
    color: #FFF;
    padding: 7px 0;
    margin-left: -5px;
    display: block;
}

.self-service ul li a,  .self-service ul li a:hover{
    font-size: 13px;
    color: #FFF;
    padding: 7px 0;
    margin-left: -5px;
    display: block;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/*
.rb-vote [type="radio"]:checked, .rb-vote [type="radio"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.rb-vote [type="radio"]:checked + label, [type="radio"]:not(:checked) + labe{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.rb-vote [type="radio"]:checked + label:before, .rb-vote [type="radio"]:not(:checked) + label:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #cf0000!important;
  border-radius: 100%;
  background: #fff;
}

.rb-vote [type="radio"]:checked + label:after,
.rb-vote [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #124F83;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rb-vote [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.rb-vote [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
*/


[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    /*  line-height: 20px;*/
    line-height: 6px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #124F83;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.wrap-btn {
    float: right;
    padding-right: 6px;
    overflow: hidden;
    padding-bottom: 15px;
    width: 100%;
}

.btn-default-vote {
    color: #333;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: hsl(0, 0%, 20%);
    font-size: 12px;
    padding: 10px 20px;
    text-transform: uppercase;
}

/* END CUSTOM RADIO  */

/* FORM DIALOG BOX */
.form-rent-car{
    height: auto;
    width: 100%;
}

.form-rent-car > input[type="text"] {
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 0 0 1px;
    color: #333;
    font-size: 14px;
    padding: 10px 0;
    text-transform: normal;
    width: 100%;
    background: #fff;
    box-shadow: none;
    height: 45px;
}

.form-rent-car > input[type="text"]:focus {
  outline-color: transparent;
  outline-style: none;
  outline: none;
}

.form-rent-car > label{
    text-align: left;
    display: inline-block;
    height: auto;
    padding:5px 0px;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    width: 100%;
}

.form-rent-car h6 {
    font-size: 12px;
    font-family: "Open Sans";
    padding-left: 3px;
    position: relative;
    z-index: 5;
    margin-bottom: 0px;
}

.form-rent-car .select{
    position: relative;
    display: block;
}

.form-rent-car .select select {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 10px 10px 10px 0px;
    outline: none;
    border-width: 0px 0px 1px!important;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    color: #333;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: 400 !Important;
    box-shadow: none!important;
    font-size: 15px;
    outline: none!important;
}

.form-rent-car .select select {
  outline-color: transparent;
  outline-style: none;
  outline: none;
}

.form-rent-car .select i {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 8px;
    height: 11px;
    background: #fff;
    box-shadow: 0 0 0 12px #fff;
    pointer-events: none;
    right: 0;
    top: 20px;    
}

.form-rent-car .select i::before {
    content: url(../images/assrowselect.png);
    position: absolute;
    right: 0;
    background: #fff;
    top: 0;
    border-bottom: 0px;
}

.form-rent-car .select i::after{
    content: url(../images/assrowselect.png);
    position: absolute;
    right: 0;
    background: #fff;
    top: 0;
    border-bottom: 0px;
}

.form-rent-car textarea {
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 0 0 1px;
    height: 111px;
    margin-bottom: 57px;
    margin-top: 12px;
    width: 100%;
    font-size: 12px;
    color: #777;
    text-transform: normal;
    box-shadow: none;
}
.form-rent-car textarea:focus {
  outline-color: transparent;
  outline-style: none;
  outline: none;
}
.submit-rent-car{
    text-align: center;
    width: 100%;
    height: auto;
}

.submit-rent-car > .btn-sbmt {
    background: #124f83 none repeat scroll 0 0;
    border: 0px;
    color: #fff;
    font-size: 13px;
    padding: 15px 65px;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 0px 0px 15px;
}

.submit-pengaduan{
    text-align: right;
    width: 100%;
    height: auto;
}

.submit-pengaduan > .btn-pengaduan {
    background: #124f83 none repeat scroll 0 0;
    border: 0px;
    color: #fff;
    font-size: 13px;
    padding: 15px 65px;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 0px 0px 15px;
    float: left;
}

.thumbnail-ava {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #fefefe;
    float: left;
    height: 41px;
    overflow: hidden;
    width: 67px;
    height: 67px;
    max-width: 67px;
    border-radius: 4px !important;
    overflow: hidden;
}

.admin-thumb {
    clear: right;
    display: block;
    float: right;
    height: auto;
    margin-right: 11px;
    margin-top: 6px;
    text-align: right;
    width: auto;
    overflow: hidden;
}

.left-text {
    display: block;
    float: left;
    padding-right: 12px;
    width: auto;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
}

.left-text p a, .left-text span a{
    text-decoration: none;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-shadow: none !important;
}

.left-text p a:hover, .left-text span a:hover{
    text-decoration: none;
    color: #124F83;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.more-and-date{
    width: 100%;
    display: block;
    height:auto;
    overflow: hidden;
}

.more-and-date p{
    width: auto;
    height: auto;
    padding-right: 10px;
}
.more-and-date p a{
    float: left;
    width: auto;
    color: #125083!important;
    text-decoration: none;
    width: auto;
    font-size: 13px!important;
    font-weight: 700;
    text-transform: uppercase;      
}

.more-and-date p span{
    float: right;
    width: auto;
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;    
}

.more-for-all-page{
    width:100%;
    display: block;
    height: auto;
    padding:10px 0px;
    text-align: right;
    padding-bottom: 15px;
}

.more-for-all-page a{
    color: #125083!important;
    text-decoration: none;
    width: auto;
    font-size: 13px!important;
    font-weight: 700!important;
    text-transform: uppercase;  
    padding-bottom: 15px;
}

.more-for-all-page a:hover{
    text-decoration: none;
}

.intro{
    padding-right: 10px;
}

/* FORM DIALOG BOX */

/* CUSTOM DATE PICKER */

.ui-widget.ui-widget-content {
    border: 1px solid #fefefe!important;
    padding: 0px!important;
    border-radius: 0px!important;
}


.ui-datepicker {
    width: 295px!important;
    padding: 0px 12px 12px 12px!important;
    background: #fff!important;
}

.ui-datepicker-calendar th {
    color: #999!important;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em!important;
    text-align: center;
    font-family: "Lato",sans-serifimportant;
    font-size: 15px!important;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 9px 0!important;
}

.ui-widget-header {
    border: 0px!important;
    background: #124F83!important;
    color: #fff!important;
    font-weight: bold;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: #c2c2c2!important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #fff;
    border: 0px;
    border-radius: 50%!important;
    text-align: center!important;;
    width: 31px;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    background: #fff!important;
    font-weight: normal;
    color: #454545;
    border: ;
}

a.view_polling, a.view_polling:hover {
    font-size: 13px;
    background: #124F83!important;
    color: #fff;
    width: 100%;
    float: none;
    margin: 20px 0px 10px;
    display: block;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
}

#sidebar {
    margin: 9px 0px;
}

.postmeta-vote{
width: 100%;
height: auto;
}

.meta-vote{
    width: 100%;
    height: auto;
    color: #777777;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.meta-vote ol{
    padding: 10px 10px 10px 0px;
}

.meta-vote ol li{
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding: 10px 0px;
    display: table;
    vertical-align: middle;
}

.meta-vote ol li span{
    color: #124f83;
    font-weight: 500;
    font-size: 20px;
    float: right;
    text-align: right;
}

.meta-vote ol li span i{
    font-size: 14px!important;
}

/* CUSTOM DATE PICKER */

.xdsoft_datetimepicker .xdsoft_calendar th {
    border:0px;
}

.xdsoft_datetimepicker .xdsoft_calendar td >{
    border:0px;
    background: #fff;
}

.xdsoft_datetimepicker .xdsoft_calendar td > div {
    padding-right: 2px;
    text-align: center;
}

.xdsoft_datetimepicker .xdsoft_calendar td{
    border: 0px;
}

/*
.xdsoft_datetimepicker .xdsoft_calendar td > div {
    padding-right: 2px;
    text-align: center;
    border-radius: 50%;
    background: #fff;    
}

.xdsoft_datetimepicker .xdsoft_calendar td > div:hover {
    padding-right: 2px;
    text-align: center;
    border-radius: 50%;
    background: #f7f7f7;    
}
*/

.xdsoft_datetimepicker .xdsoft_calendar td{
    width: 14.2857142%;
    background: #fff;
    border: 0px;
    color: #666666;
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
    padding: 0;
    border-collapse: collapse;
    cursor: pointer;
    height: 25px;
}

.xdsoft_datetimepicker .xdsoft_calendar td > div {
    padding-right: 2px;
    text-align: center;
    background: transparent none;
    border-radius: 50%!important;
    padding: 5px 0px;
    margin: 2px 2px;    
    
}

.xdsoft_datetimepicker .xdsoft_calendar td{
    background: #fff;
    box-shadow: none;
    border-radius: 50%!important;
    font-weight: 700;    
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover{
    background: #f1f1f1!important;
    color: #666!important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current{
    background: #124F83;
    box-shadow: none;
    color: #fff;
    border-radius: 50%!important;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    background: #124F83;
    box-shadow: #178FE5 0 1px 3px 0 inset;
    color: #fff;
    font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    color: #fff !important;
    background: #3BB17E!important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
    background: #fff;
    border-top: 1px solid #DDDDDD;
    color: #666666;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    cursor: pointer;
    border-bottom-width: 0;
    height: 25px;
    line-height: 25px;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
    color: #124F83;
}

.excerptarhive-book {
    color: #606060;
    font-size: 15.5px;
    line-height: 27px;
}

.excerptarhive-book p{
    font-size: 15.5px;
    line-height: 27px;
}

.excerptarhive{
    color: #606060;
    font-size: 15.5px;
    line-height: 27px;    
}

.intro, .intro > p{
    font-size: 15px;
}

.cc_single_post h2{
    margin-left: 0px;
    padding-left: 0px;
    line-height: 40px;
}

#related-posts ul {
    position: relative;
    overflow: hidden;
    list-style: none;
    width: 100%!important;
    padding-left:15px;
    padding-right: 15px;
}

#related-posts ul li{
    width: 32%;
    margin-right: 15px;
    min-height: 80px;
    margin-bottom: 24px;
    overflow: hidden;
    padding-top:5px;
    padding-bottom: 10px;
}

#related-posts ul li:last-child{
    margin-right: 0px;
}
    
.excerptarhive-book a{
    color: #125083 !important;
}

.post_text > p > strong > a{
    color: #125083!important;
}

.updeck h3 {
    font-size: 18px;
    color: #125083;
    font-family: Arial,Verdana,sans-serif;
    padding-bottom: 14px;
}

.list-of-pengajuan{
    padding: 15px 0px;
    width: 80%;
    float: left;
}

.list_pengajuan_villa h3{
    width: 100%;
    display: block;
}

.list-of-pengajuan-right{
    width: 19%;
    text-align: center;
    float: left;
}

.list-of-pengajuan-right a{
/*    padding:12px 24px;*/
    background: #46A747;
    color: #fff!important;
    border-radius: 3px;
    padding: 12px 0px 12px 0px!important;
    text-decoration: none;
    line-height: 19px;    
}

.list-of-pengajuan-right a i{
    font-size: 24px;
    color: #fff;
    margin-right: 8px;
}

.right-absen{
    float: left;
    width: 85%;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
    height: 201px;
}

.lf-col {
    float: left;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;
}

.rf-col {
    float: right;
}

.rf-col > ul {
    list-style: none;
}

.rf-col > ul > li {
    float: left;
    margin-top: 5px;
}

.rf-col > ul > li > a {
    margin-left: 9px;
    outline: none !important;
}

.main_nav_box{
    background: url(../images/menu-bacground.png) top left no-repeat #194E82;
    border-radius: 2.5px;
}

.blue-movistar{
background: #043279;
}

.rating-company{
    float: left;
}

.rating-company ul{
    padding:0px;
    margin: 0px;
}

.rating-company ul li{
    list-style: none;
    float: left;
    margin-right:15px;
    margin-top: 10px;
}

.rating-company ul li:nth-child(2){
    margin-right:24px;
}

/* MEDIA QUERY */

@media screen and (max-width: 1200px) {
    .main_nav_box ul li a {
        margin-left: 10px;
        padding: 18px 15px 18px 15px;        
    }
}


/* END BY BIDJI AGUS  */

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .ftm_newsletter input[type="text"] {
		border:none;
		float:left;
}
}


/* END of Style */


